@media (max-width: 438px) {
  .chatContainerRef {
    padding-right: 6%;
  }
}

@media (min-width: 438px) and (max-width: 768px) {
  .chatContainerRef {
    padding-inline: 6%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .chatContainerRef {
    padding-inline: 7%;
  }
}

@media (min-width: 1024px) {
  .chatContainerRef {
    padding-inline: 10%;
  }
}
